<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Aura</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/styel.css">
</head>
<body>
      <div class="relative w-full bg-white ">
        <div class="max-auto flex max-w-1xl items-center justify-between px-4 py-3 sm:px-2 lg:px-8">
          <div class="inline-flex items-center space-x-2">
            <span class="font-bold">Taste Aura</span>
          </div>
          <div class="hidden grow items-start lg:flex">
            <ul class="ml-12 inline-flex space-x-8">
              <li>
                <a
                  href="/"
                  class="inline-flex items-center text-sm font-semibold text-gray-800 hover:text-gray-900"
                >
                  Home
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="ml-2 h-4 w-4"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </span>
                </a>
              </li>
              <li>
                <a
                  href="about"
                  class="inline-flex items-center text-sm font-semibold text-gray-800 hover:text-gray-900"
                >
                  About
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="ml-2 h-4 w-4"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          
          <div class="lg:hidden">
            <img
              xmlns="http://www.w3.org/2000/svg"
              width="100"
              height="100"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6 cursor-pointer"
            >
              <line x1="50" y1="12" x2="20" y2="12"></line>
              <line x1="50" y1="6" x2="20" y2="6"></line>
              <line x1="50" y1="18" x2="20" y2="18"></line>
          </div>
        </div>
      </div>
      <div class="lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6 cursor-pointer"
        >
          <line x1="4" y1="12" x2="20" y2="12"></line>
          <line x1="4" y1="6" x2="20" y2="6"></line>
          <line x1="4" y1="18" x2="20" y2="18"></line>
        </svg>
      </div>
    </div>
  </header>
  <div class="mx-auto max-w-7xl px-4">
    <div class="ab1 flex-col space-y-8 pb-10 pt-12 md:pt-24">
      <div class="max-w-max rounded-full border bg-gray-50 p-1 px-3">
        <p class="text-xs font-semibold leading-normal md:text-sm">
          About the company
        </p>
      </div>
      <p class="text-3xl font-bold text-gray-900 md:text-5xl md:leading-10">
        Made with love, right here in Kerala
      </p>
      <p class="max-w-4xl text-base text-gray-600 md:text-xl">
        "Taste Aura" means the special and unique experience of flavors. It suggests that our website will offer not just food, but a delightful and memorable taste experience.
      </p>
    </div>
    
     
  
    <hr class="mt-20" />
    <div class="mt-16 flex items-center">
      <div class="space-y-6 md:w-3/4">
        
        <p class="text-3xl font-bold text-gray-900 md:text-4xl">
          Meet our team
        </p>
        <p class="max-w-4xl text-base text-gray-700 md:text-xl">
          Our philosophy is simple — Our team of diverse, passionate people
          foster a culture that empowers you to find food at your comfort.
        </p>
        <div></div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-4 gap-y-6 border-b border-gray-300 py-12 pb-20 md:grid-cols-2 lg:grid-cols-4">
      <div class="rounded-md border">
        <img
          src="../static/images/bi.jpeg"
          alt=""
          class="h-[300px] w-full rounded-lg object-cover "
        />
        <p class="mt-6 w-full px-2 text-xl  font-semibold text-gray-900">
          Bijohn Shiju
        </p>
        <p class="w-full px-2 pb-6 text-sm font-semibold text-gray-500">
          
        </p>
      </div>
      <div class="rounded-md border">
        <img
          src="../static/images/aj.jpeg"
          alt=""
          class="h-[300px] w-full rounded-lg object-cover "
        />
        <p class="mt-6 w-full px-2 text-xl  font-semibold text-gray-900">
          Anjo Joy
        </p>
        <p class="w-full px-2 pb-6 text-sm font-semibold text-gray-500">
          
        </p>
      </div>
      <div class="rounded-md border">
        <img
          src="../static/images/jj.jpeg"
          alt=""
          class="h-[300px] w-full rounded-lg object-cover "
        />
        <p class="mt-6 w-full px-2 text-xl  font-semibold text-gray-900">
          Jain Jaison
        </p>
        <p class="w-full px-2 pb-6 text-sm font-semibold text-gray-500">
          
        </p>
      </div>
      <div class="rounded-md border">
        <img
          src="../static/images/jm.jpeg"
          alt=""
          class="h-[300px] w-full rounded-lg object-cover "
        />
        <p class="mt-6 w-full px-2 text-xl  font-semibold text-gray-900">
          Jain Mariya Jimmy
        </p>
        <p class="w-full px-2 pb-6 text-sm font-semibold text-gray-500">
          
        </p>
      </div>
      <div class="rounded-md border">
        <img
          src="../static/images/ar.jpeg"
          alt=""
          class="h-[300px] w-full rounded-lg object-cover "
        />
        <p class="mt-6 w-full px-2 text-xl  font-semibold text-gray-900">
          Arya M S
        </p>
        <p class="w-full px-2 pb-6 text-sm font-semibold text-gray-500">
          
        </p>
      </div>
    </div>
      <div class="md:mt-o mt-10 w-full">
        <img
          src="https://images.unsplash.com/photo-1605165566807-508fb529cf3e?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2340&amp;q=80"
          alt="Getting Started"
          class="rounded-lg"
        />
      </div>
    </div>
  </div>
  <hr class="mt-6" />
  <div class="mx-auto max-w-7xl">
    <footer class="px-4 py-10">
      <div class="flex flex-col md:flex-row md:items-center">
        <span>
        </span>
        <div class="mt-4 grow md:ml-12 md:mt-0">
          <p class="text-base font-semibold text-gray-700">
            © 2024 Taste Aura
          </p>
        </div>
      </div>
      <div class="mt-16 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
        <div class="mb-8 lg:mb-0">
          <p class="mb-6 text-lg font-semibold text-gray-700">Company</p>
          <ul class="flex flex-col space-y-4 text-[14px] font-medium text-gray-500">
            <li>About us</li>
            <li>Company History</li>
            <li>Our Team</li>
            <li>Our Vision</li>
            <li>Press Release</li>
          </ul>
        </div>
        <div class="mb-8 lg:mb-0">
          <p class="mb-6 text-lg font-semibold text-gray-700">Services</p>
          <ul class="flex flex-col space-y-4 text-[14px] font-medium text-gray-500">
            <li>Good Food</li>
            <li>Precise</li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="mb-8 lg:mb-0">
          <p class="mb-6 text-lg font-semibold text-gray-700">Legal</p>
          <ul class="flex flex-col space-y-4 text-[14px] font-medium text-gray-500">
            <li>Privacy Policy</li>
            <li>Terms of Service</li>
            <li>Cookie Policy</li>
            <li>Disclaimer</li>
            <li>Media Policy</li>
          </ul>
        </div>
        <div class="mb-8 lg:mb-0">
          <p class="mb-6 text-lg font-semibold text-gray-700">Social Links</p>
          <ul class="flex flex-col space-y-4 text-[14px] font-medium text-gray-500">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Linkedin</li>
            <li>YouTube</li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>


</body>
</html>