<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Aura</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/styel.css">
</head>
<body>
    <div class="relative w-full bg-white ">
        <div class="max-auto flex max-w-1xl items-center justify-between px-4 py-3 sm:px-2 lg:px-8">
          <div class="inline-flex items-center space-x-2">
            <span class="font-bold">Taste Aura</span>
          </div>
          <div class="hidden grow items-start lg:flex">
            <ul class="ml-12 inline-flex space-x-8">
              <li>
                <a
                  href="/"
                  class="inline-flex items-center text-sm font-semibold text-gray-800 hover:text-gray-900"
                >
                  Home
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="ml-2 h-4 w-4"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </span>
                </a>
              </li>
              <li>
                <a
                  href="about"
                  class="inline-flex items-center text-sm font-semibold text-gray-800 hover:text-gray-900"
                >
                  About
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="ml-2 h-4 w-4"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="lg:hidden">
            <img
              xmlns="http://www.w3.org/2000/svg"
              width="100"
              height="100"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6 cursor-pointer"
            >
              <line x1="50" y1="12" x2="20" y2="12"></line>
              <line x1="50" y1="6" x2="20" y2="6"></line>
              <line x1="50" y1="18" x2="20" y2="18"></line>
          </div>
        </div>
      </div>
      <div class="flex w-fit gap-5 translate-x-72 translate-y-60">
        <div class="w-[300px] rounded-md border div1">
          <img
            src="../static/images/tcr.png"
            alt="Laptop"
            class="h-[200px] w-full rounded-md object-cover"
          />
          <div class="p-4">
            <h1 class="text-lg font-semibold">THRISSUR</h1>
            <p class="p2 mt-3 text-sm text-gray-600">
              The city's cuisine reflects its cultural diversity, with a strong emphasis on vegetarian dishes and seafood, showcasing a blend of traditional Kerala flavors and multicultural influences​
            </p>
            <button
              type="button"
              class="mt-4 rounded-sm bg-black px-2.5 py-1 text-[10px] font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
            ><a href="thrissur">
                View
              </a>
            </button>
          </div>
        </div>
        <div class="w-[300px] rounded-md border div1 ">
          <img
          src="../static/images/ekm.png"
          alt="Laptop"
            class="h-[200px] w-full rounded-md object-cover"
          />
          <div class="p-4">
            <h1 class="text-lg font-semibold">ERNAKULAM</h1>
            <p class="p2 mt-3 text-sm text-gray-600">
              Ernakulam has a strong connection to Kerala's traditional cuisine, which is characterised by its use of coconut, rice, and an array of spices.It also provides a variety of continental dishes.
            </p>
            <button
              type="button"
              class="mt-4 rounded-sm bg-black px-2.5 py-1 text-[10px] font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
            ><a href="ekm">
                View
              </a>
            </button>
          </div>
        </div>
        <div class="w-[300px] rounded-md border div1" >
          <img
            src="../static/images/palakkad.png"
            alt="Laptop"
            class="h-[200px] w-full rounded-md object-cover"
          />
          <div class="p-4">
            <h1 class="text-lg font-semibold">PALAKKAD</h1>
            <p class="p2 mt-3 text-sm text-gray-600">
              The cuisine of Palakkad features unique dishes like avial, sambar, and sweet treats like payasam, often prepared with coconut and coconut oil, reflecting the region's culinary heritage
            </p>
            <button
              type="button"
              class="mt-4 rounded-sm bg-black px-2.5 py-1 text-[10px] font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
            ><a href="palakkad">
              View
            </a>
            </button>
          </div>
        </div>
        <div>
</body>
</html>